:root {
	--font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

	/* LIGHT por defecto */
	--color-bg: #fff8f6;
	--color-card: #f5f2ef;
	--color-text: #0f1111;
	--color-text-muted: #7a726b;

	--color-primary: #ffd814;
	--accent-soft: #f4f0ff;
	--accent-strong: #4b2aad;
}

/* DARK: se activa solo si el sistema está en modo oscuro */
@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #11100e;
		--color-card: #1d1916;
		--color-text: #f5eee8;
		--color-text-muted: #b0a59a;

		--color-primary: #ffd814;
		--color-primary-contrast: #0f1111;
		--accent-soft: #241b33;
		--accent-strong: #d2c4ff;
	}
}

/* Reset básico */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* 👇 Aquí ya te integras con el nav */
body {
	font-family: var(--font-sans);
	background-color: var(--color-bg); /* fondo según tema */
	color: var(--color-text); /* texto según tema */
	color-scheme: light dark; /* integra también scrollbars, inputs, etc. */
}

figure {
	margin: 0;
}

.btn {
	border-radius: 999px;
	padding: 0.7rem 1.6rem;
	font-size: 0.9rem;
	border: 1px solid #000;
	cursor: pointer;
}

.btn-primary {
	background: var(--color-primary);
	color: var(--color-primary-contrast);
}
.btn-outline {
	background: transparent;
	color: var(--color-text);
}
